body{
    margin:0;
    font-family:Arial ;
    text-align: center;
    background:#f4f4f4
}
header{
    background:#6c63ff;
    color:white;
    padding: 100px 20px;
}
header h1{
    font-size: 50px;
}
header a{
    display:inline-block;
    margin-top: 20px;
    padding:10px 20px;
    background: white;
    color: #6c63ff;
    text-decoration: none;
    border-radius: 5px;
}
.features{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}
.box{
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}
footer{
    background: black;
    color:white;
    padding: 20px;
}
